<div class="container">

    <div class="content">
        <button class="novo-fazer mat-elevation-z8" mat-strocked-button color="primary">Nova Tarefa</button>

        <mat-card class="mat-elevation-z8">
            <p>Data para finalizar: </p>
            <mat-card-header>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>

            <div class="actions">
                <button mat-mini-fab color="primary">
                    <mat-icon>done</mat-icon>
                </button>
                <button mat-mini-fab color="accent">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

          </mat-card>



    </div>


</div>